<div id="container">
  <form action='/' method='get'>

    <div id='radio'>
    <label for='good'>Good</label>
    <input id='good' type='radio' name='morals' value='good'>
    <label for='evil'>Evil</label>
    <input id='evil' type='radio' name='morals' value='evil'>
    </div>


    <input type='text' name='food' value='favorite-food'>

    <input type='select'
  </form>
</div>
