<div id="container">
  <form action='/' method='get'>

    <div id='radio'>
    <label for='good'>Good</label>
    <input id='good' type='radio' name='morals' value='good'>
    <label for='evil'>Evil</label>
    <input id='evil' type='radio' name='morals' value='evil'>
    </div>


    <input type='text' name='food' value='favorite-food'>

    <select> 
      <option>Red</option>
      <option>Blue</option>
      <option>Yellow</option>
      <option>Chartreuse</option>
    </select>

    <input id="insanity-level" type="range" min="1" max="10">

  </form>

  <div id = "list-container">
    <div id = "likes">
      <ul>
        <li>Favorite color</li>
        <li>Favorite food</li>
        <li>Smooth jazz</li>
        <li>Roket pops</li>
        <li>Klondike bars</li>
      </ul>
    </div>
    <div id = "dislikes">
      <ul>
        <li>Murder</li>
        <li>Nascar</li>
        <li>Voldemort</li>
        <li>Volvos</li>
        <li>Flatulence</li>
      </ul>
    </div>
  </div>
  
  

</div>
