.good {
  background-color: yellow;
  font-family: ;
}

.evil {
  background-color: purple;
  font-family: ;
}

.good.title {
  font-famiy: arial;
}

.evil.title {
  font-family: fantasy;
}

form {
}
